*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    background-color: #343434;
    height: 8vh;
}

main{
    background-image: url(background.jpg);
    background-size: cover;
    height: 92vh;
}

.lista{
    list-style: none;
    display: flex;
}

.lista li{
    letter-spacing: 3px;
    margin-left: 32px;
}